@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NetflixSans";
  src: url("../fonts/NetflixSans-Regular.otf");
}
/* @font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans-Light.otf");
}
@font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans-Regular.otf");
}
@font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans-Regular.otf");
} */

html,
body {
  margin: 0;
}
